@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Assistant', sans-serif;
}


@media  screen and (max-width: 1199px){

    html {
        font-size: 60%
    }
    
}

@media  screen and (max-width: 800px){
    html {
        font-size: 55%;
    }
}

@media  screen and (max-width: 760px){
    html {
        font-size: 53%;
    }
}

@media  screen and (max-width: 640px){
    html {
        font-size: 50%;
    }
}

@media  screen and (max-width: 560px){
    html {
        font-size: 45%;
    }
}

@media  screen and (max-width: 475px){
    
       html {
        font-size: 45%;
       }
}


@media  screen and (max-width: 425px){
    
       html {
        font-size: 43%;
       }
}


@media  screen and (max-width: 375px){
    
       html {
        font-size: 40%;
       }
}

@media  screen and (max-width: 325px){
    
       html {
        font-size: 36%;
       }
}
 

